[submodule "pack/my-plugins/start/rust.vim"]
	path = pack/my-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/my-plugins/start/syntastic"]
	path = pack/my-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/my-plugins/start/asyncrun.vim"]
	path = pack/my-plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/my-plugins/start/vim-projectroot"]
	path = pack/my-plugins/start/vim-projectroot
	url = https://github.com/dbakker/vim-projectroot.git
[submodule "pack/my-plugins/start/vim-surround"]
	path = pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/my-plugins/start/vim-prettier"]
	path = pack/my-plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
